body {
    font-family: "Open Sans", sans-serif;
  }

h1, h2, h3 {
  font-family: "Yantramanav", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

header {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(50deg, #253da1 0%, #02198b 52%, #000137 90%);
  }

  header p {
      font-size: 25px;
      line-height: .25;
      padding-bottom: 10px;
  }
  
  main {
      padding: 20px;
  }

  .infoDisplay {
      padding: 5px;
      border: 1px solid black;
  }

  textarea {
      width: 100%;
      font-size: 25px;
      border-radius: 5px;
      height: 50px;
  }

  .searchBtn {
      background-color: #253da1;
      color: white;
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
      width: 100%;
  }


